extends layout
include mixins/room.pug

block title
  title Dashboard - Quản lý phòng

block style
  link(rel="stylesheet", href="/css/mixins/room.css")
  link(rel="stylesheet", href="/css/page/dashboard.css")


block content
  section
    .dashboard-container
      h1 Chào mừng, #{user.username}!

    .filter-section
      form(method="GET", action="/dashboard")
        label(for="filter") Bộ lọc:
        select(name="filter", id="filter", onchange="this.form.submit()")
          option(value="all" selected=(filter === 'all')) Tất cả
          option(value="idle" selected=(filter === 'idle')) Phòng trống
          option(value="bussy" selected=(filter === 'bussy')) Đang cho thuê

    .room-list
      if rooms
        if user.role == "admin"
          each room in rooms
            +showRoom(room)
        else
          each room in rooms
            +showRoom(room)
      else
        p Không có phòng nào hiển thị.