doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    block title 
    
    block style
    link(rel="stylesheet", href="/css/style.css")
    
    block script 
  body
    .container
      include partials/header

      main.content
        block content
      
      include partials/footer