doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Login
  body
    .login-container
      h1 Đăng nhập
      if error
        p.error= error
      form(action="/login" method="POST")
        div
          label Username:
          input(type="text" name="username" required)
        div
          label Password:
          input(type="password" name="password" required)
        button(type="submit") Đăng nhập
      a(href="/register") Đăng ký tài khoản mới